<!doctype html>
<html lang="en">

<head>
    <title> Registered Student List </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
        integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>

    <!-- <div id="navbar">

      <nav>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
      </nav>
    </div> -->

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4">
                <div class="user-logo">
                    <div class="img" style="background-image: url(/images/admin.png);"></div>
                    <% if(isSuperAdmin) {%>
                        <h3>Placement Manager</h3>
                    <% } else {%>
                        <h3>Admin</h3>
                    <% }%>
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                
                <li>
                    <a href="/profile"><i class="fa fa-line-chart mr-3" aria-hidden="true"></i> Admin Statistics</a>
                </li>
                <li>
                    <a href="/updatePassword"><i class="fa fa-cloud-upload mr-3 " aria-hidden="true"></i> Update Password</a>
                  </li>
                <li>
                    <a href="/unverifiedstudents"><span class="fa fa-check mr-3 notif"></span> Verify Students</a>
                </li>
                <li>
                    <a href="/adminInterviewSchedule"><span class="fa fa-edit mr-3"></span> Schedule Jobs</a>
                </li>
                <li>
                    <a href="/unverifiedjobs"><span class="fa fa-briefcase mr-3"></span> Verify Jobs</a>
                </li>
                <% if(isSuperAdmin==true) {%>
                    <li>
                      <a href="/unverifiedcompany"><i class="fa fa-building-o mr-3" aria-hidden="true"></i> Verify Company</a>
                    </li>
                    <% } %>
                <li class="active">
                    <a href="/adminStudents"><span class="fa-solid fa-list mr-3"></span> Student list</a>
                </li>
                <li>
                    <a href="/adminJobs"><span class="fa-solid fa-list mr-3"></span> Job list</a>
                </li>
                <li>
                    <a href="/adminCompany"><span class="fa-solid fa-list mr-3"></span> Company list</a>
                </li>
                <li>
                    <a href="/datasheet"><span class="fa fa-download mr-3"></span> Datasheet</a>
                </li>
                <li>
                    <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
                </li>
            </ul>

        </nav>



        <div id="content" style="margin-top: 15px;" class="p-4 p-md-5 pt-5">

            <div class="accordion" id="accordionExample">

                <% for(var i=0; i<students.length; i++){ %>
                    <div class="accordion-item">
                        <!-- <div class="header"> -->
                        <h2 class="accordion-header" id="heading<%= i + 1 %>">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse<%= i + 1 %>" aria-expanded="false"
                                aria-controls="collapse<%= i + 1 %>">
                                <div style="font-weight: bold;"  class="header">
                                    <%= students[i].student.firstName %>
                                        <%= students[i].student.lastName %>
                                        <% if(students[i].student.isPlaced == true) { %>
                                            (Placed)
                                            <% } %>
                                </div>
                            </button>
                        </h2>
                        <!-- </div> -->
                        <div id="collapse<%= i + 1 %>" class="accordion-collapse collapse"
                            aria-labelledby="heading<%= i + 1 %>" data-bs-parent="#accordionExample">
                            <div class="accordion-body">

                                <table class="table table-hover">
                                    <tr>
                                        <td>Email</td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.email %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>DOB</td>
                                        <td>:</td>
                                        <td>
                                            <%= new Date(students[i].student.dob).toDateString() %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.gender %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10th Percentages</td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.tenthPercentage %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 12th Percentages </td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.twelfthPercentage %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Current CPI </td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.cpi %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Current Backlogs </td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.activeBacklog %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Total Backlogs </td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.totalBacklog %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Branch </td>
                                        <td>:</td>
                                        <td>
                                            <%= students[i].student.branch %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Verified ?</td>
                                        <td>:</td>
                                        <td>
                                            <% if(students[i].student.isVerified==true){ %>
                                                YES
                                                <% } else { %>
                                                    NO
                                                    <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rejected ?</td>
                                        <td>:</td>
                                        <td>
                                            <% if(students[i].student.isRejected==true){ %>
                                                YES
                                                <% } else { %>
                                                    NO
                                                    <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Placement Status</td>
                                        <td>:</td>
                                        <td>
                                           <% if(students[i].student.isPlaced==true) { %>
                                                Student is Placed at <%= students[i].companyNameSend %> as <%= students[i].jobNameSend %>.
                                                <% } else { %>
                                                    Student is not placed yet.
                                                    <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> Resume </td>
                                        <td>:</td>
                                        <td>
                                            <a target="_blank" href="<%= students[i].student.resume %>">View Resume</a>
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>
                    <% } %>


            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>