<!doctype html>
<html lang="en">

<head>
  <title>Edit Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/companyEditProfile.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4">
        <div class="user-logo">
          <div class="img" style="background-image: url(/images/company.png);"></div>
          <h3>
            <%= company.companyName %>
          </h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="/profile"><span class="fa-solid fa-user mr-3"></span> Profile</a>
        </li>
        <li class="active">
          <a href="/update"><span class="fa-solid fa-user-pen mr-3"></span> Edit Profile</a>
      </li>
        <li >
          <a href="/updatePassword"><span class="fa fa-cloud-upload mr-3 "></span> Update
              Password</a>
        </li>
        <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
      </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      <div class="box">
        <form action="/updateCompany" method="POST">
          <div class="title1">
            <a> Edit Profile : </a>
          </div>

          <label for="hrname" class="label-1"> Name </label>
          <div class="form-group">
            <input type="text" name="companyName" id="browser" autocomplete="off" value="<%= company.companyName %>" required>
          </div>

          <label for="hrname" class="label-1"> HR Name </label>
          <div class="form-group">
            <input type="text" name="hrName" id="browser" autocomplete="off" value="<%= company.hrName %>" required>
          </div>

          <label for="website" class="label-1"> Website </label>
          <div class="form-group">
            <input type="url" name="website" id="browser" autocomplete="off" value="<%= company.website %>" required>
          </div>

          <label for="contact" class="label-1"> Contact No. </label>
          <div class="form-group">
            <input type="tel" pattern="[1-9]{1}[0-9]{4}-[0-9]{5}" name="contactNumber" id="browser" autocomplete="off" value="<%= company.contactNumber %>" required>
          </div>

          <div class="btns">
            <button type="submit" class="strong"> Update </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>