<!doctype html>
<html lang="en">

<head>
  <title>Edit Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/edit_profile.css">

</head>

<body>

  <!-- <div id="navbar">

      <nav>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
        <span>frnk</span>
      </nav>
    </div> -->

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4">
        <div class="user-logo">
          <div class="img" style="background-image: url(/images/logo.jpg);"></div>
          <h3><%= student.firstName %> <%= student.lastName %></h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="/profile"><span class="fa fa-user mr-3"></span> Profile</a>
        </li>
        <% if(student.isRejected == false) {%>
          <li>
            <a href="/updatePassword"><span class="fa fa-cloud-upload mr-3 "></span> Update Password</a>
          </li>
          <li>
            <a href="/updateResume"><span class="fa fa-cloud-upload mr-3"></span> Update
              Resume</a>
          </li>
          <% if(student.isVerified == false) {%>
          <li class="active">
            <a href="/update"><span class="fa fa-pencil-square-o mr-3"></span>Edit Profile</a>
          </li>
          <% }%>
          <% if(student.isVerified == true) {%>
            <li>
              <a href="/viewCompany"><span class="fa fa-list mr-3 "></span> Companies</a>
            </li>
          <%}%>
        <%}%>
        <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
        </li>
      </ul>
    </nav>

    <div id="Profile" class="p-4 p-md-5 pt-5">

      <div class="userimage">
        <h2 class="mb-4">Welcome, <%= student.firstName %> <%= student.lastName %> </h2>
      </div>
      <form onsubmit="return checkForm();" action="/updateStudent" method="POST">

        <table class="table table-hover">
          <tr>
            <td>First Name </td>
            <td>:</td>
            <td> <input type="text" name="firstName" value="<%= student.firstName %>" placeholder="Enter your Name"> </td>
          </tr>
          <tr>
            <td>Middle Name</td>
            <td>:</td>
            <td> <input type="text" name="middleName" value="<%= student.middleName %>" placeholder="Enter your Middle Name"> </td>
          </tr>
          <tr>
            <td>Last Name </td>
            <td>:</td>
            <td> <input type="text" name="lastName" value="<%= student.lastName %>" placeholder="Enter your Last Name"> </td>
          </tr>
          <tr>
            <td>Date Of Birth</td>
            <td>:</td>
            <td><input type="date" name="dob" value="<%= new Date(student.dob).toISOString().substring(0, 10) %>" placeholder="<%= new Date(student.dob).toDateString() %>"></td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>:</td>
            <td> 
              <!-- <input name="branch" type="text" value="<%= student.branch %>" placeholder="Enter Total Backlogs">  -->
                        <select name="gender" id="role">
                            <option <% if(student.gender === "Male") { %>
                              selected
                              <% } %>
                               value="Male">Male</option>
                            <option <% if(student.gender === "Female") { %>
                              selected
                              <% } %>
                            value="Female">Female </option>
                            <option <% if(student.gender === "Other") { %>
                              selected
                              <% } %> value="Other">Other</option>
                        </select>
            </td>
          </tr>
          <tr>
            <td>Mobile Number</td>
            <td>:</td>
            <td> <input type="tel" name="mobileNumber" value="<%= student.mobileNumber %>" pattern="[1-9]{1}[0-9]{4}-[0-9]{5}" placeholder="Enter your Mobile Nnumber"> </td>
          </tr>
          <tr>
            <td>Alternative Mobile Number</td>
            <td>:</td>
            <td> <input type="tel" name="alternateMobileNumber" value="<%= student.alternateMobileNumber %>" pattern="[1-9]{1}[0-9]{4}-[0-9]{5}" placeholder="Enter your Mobile Nnumber"> </td>
          </tr>
          <tr>
            <td>10th Percentage</td>
            <td>:</td>
            <td><input name="tenthPercentage" type="number" min="0" max="100" step="0.01" value="<%= student.tenthPercentage %>" placeholder="Enter 10th Percentage"></td>
          </tr>
          <tr>
            <td>12th Percentage</td>
            <td>:</td>
            <td><input name="twelfthPercentage" type="number" min="0" max="100" step="0.01" value="<%= student.twelfthPercentage %>" placeholder="Enter 12th Percentage"></td>
          </tr>
          <tr>
            <td>CPI</td>
            <td>:</td>
            <td> <input name="cpi" type="number" min="0" max="10" step="0.01" value="<%= student.cpi %>" placeholder="Enter CPI"> </td>
          </tr>
          <tr>
            <td>Active Backlogs</td>
            <td>:</td>
            <td> <input min="0" name="activeBacklog" id="activeBacklog" type="number" value="<%= student.activeBacklog %>" placeholder="Enter Current Backlogs"> </td>
          </tr>
          <tr>
            <td>Total Backlogs</td>
            <td>:</td>
            <td> <input min="0" name="totalBacklog" id="totalBacklog" type="number" value="<%= student.totalBacklog %>" placeholder="Enter Total Backlogs"> </td>
          </tr>
          <tr>
            <td>Branch</td>
            <td>:</td>
            <td> 
                        <select name="branch" id="role">
                            <option <% if(student.branch === "B.Tech") { %>
                              selected
                              <% } %>
                               value="B.Tech">B.Tech</option>
                            <option <% if(student.branch === "M.Tech") { %>
                              selected
                              <% } %>
                            value="M.Tech">M.Tech </option>
                            <option <% if(student.branch === "M.Sc") { %>
                              selected
                              <% } %> value="MSc">MSc</option>
                        </select>
            </td>
          </tr>
        </table>

        <!-- <input type="submit" name="Save"> -->
        <button class="submit" type="submit">Save changes</button>
      </form>

    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script>
    function checkForm()
    {
      var active=document.getElementById("activeBacklog").value;
      var total=document.getElementById("totalBacklog").value;

      console.log(parseInt(active), parseInt(total));
      
      if(parseInt(active) <= parseInt(total))
      {
        return true;
      }
      else{
        alert("Active backlog cannot be greater than total backlog.");
        return false;
      }
    }
  </script>
</body>

</html>